

nav h1 {
  width: 40%;
  float: left;
}

nav ul {
  width: 40%;
  float: right;
}

li {
  display: inline-block;
}

/*TEXT ALIGN, select parent element*/
header {
  text-align: center;
}

.card {
  display: inline-block;
  width: 20%;
  background: yellow;
  vertical-align:top;
}

.cookie-cards img {
  width: 100%;
}

.cookie-cards {
  text-align: center;
}

footer {
  background-color: lime;
}



footer ul {
  margin: 0 auto;
  width: 50%;
}


/*https://css-tricks.com/snippets/css/clear-fix/*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack 